{% extends 'index.html' %}
{% block main_content %}
    <section class="bg-light" id="booking">
    <div class="container" id="loginModal">
        <header class="text-center mb-5">
          <h2 class="handwriting-text">Login</h2>
        </header>
        <div class="row">
          <div class="col-lg-10 mx-auto position-relative"><img class="position-absolute top-100 start-100 translate-middle d-none d-lg-block" src="/static/img/vegetables.png" alt="..." width="300">
            <div class="bg-white z-index-20">
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <div class="card border-0 py-5">
                    <div class="ribbon">
                      <div class="icon icon-sm border-0 bg-primary rounded-0 text-white"><i class="fas fa-star text-white"></i></div>
                    </div>
                    <div class="card-body pt-5">
                        <form class="p-lg-5" method="post">
                            {% csrf_token %}
                          <div class="row gy-3">
                            <div class="col-lg-12">
                              <label class="form-label"> {{form.username.label_tag}}</label>
                                {{ form.username }}
                            </div>
                            <div class="col-lg-12">
                              <label class="form-label"> {{ form.password.label_tag }}</label>
                                {{ form.password }}
                              <div class="alert-danger">{{form.non_field_errors}}</div>
                            </div>
                            <div class="col-lg-12 text-center">
                              <button class="btn btn-primary" type="submit"> Login</button>
                            </div>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}