 <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content position-relative">
          <div class="bg-primary position-absolute top-0 start-0 z-index-top">
            <button class="btn-close btn-close-white p-3 opacity-10" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-5">
            <header class="mb-5 text-center">
              <h3 class="handwriting-text">Make a reservation</h3>
              <h5 class="text-uppercase text-gray-500 fw-normal">Book your table now</h5>
            </header>
             <form class="p-lg-5" method="post">
                {% csrf_token %}
              <div class="row gy-3">
                <div class="col-lg-6">
                  <label class="form-label" for="modalResName"> Name</label>
                    {{form_reserve.name }}
                </div>
                <div class="col-lg-6">
                  <label class="form-label" for="modalResEmail"> Email</label>
                    {{ form_reserve.email }}
                </div>
                <div class="col-lg-6">
                  <label class="form-label" for="modalResNumber"> Number</label>
                  {{ form_reserve.phone }}
                </div>
                <div class="col-lg-6">
                  <label class="form-label" for="modalResPeople"> People</label>
                  {{ form_reserve.quests }}
                </div>
                <div class="col-lg-6">
                  <label class="form-label" for="modalResDate">Date</label>
                  {{ form_reserve.visit_date }}
                </div>
                 <div class="col-lg-6">
                  <label class="form-label" for="modalResDate">Time</label>
                     {{ form_reserve.visit_time }}
                </div>
                <div class="col-lg-12">
                  <label class="form-label" for="modalRequest"> Special request</label>
                    {{ form_reserve.message }}
                </div>
                <div class="col-lg-12 text-center">
                  <button class="btn btn-primary" type="submit">Book now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

