{% extends 'index.html' %}
{% block main_content %}
<section id="reserves">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            {% for item in reservation %}
            <div class="row">
                <div class="col-md-10">
                    <a href="{% url 'manager:update_reservation' pk=item.pk %}">
                        <button type="button" class="btn btn-primary">Закрити замовлення</button>
                    </a>
                </div>
                <div class="col-md-3">{{ item.name }}</div>
                <div class="col-md-3">{{ item.phone }}</div>
{#                <div class="col-md-3">{{ item.visit_date|date: 'd-m-y' }}</div>#}
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9"><p>{{ item.pmassage }}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}